@charset "utf-8";

/* NAV BAR STYLE */
.nav_bar {
	background:url('../img/bg.png');
	position: fixed;
	width: 100%;
	top: 0; 
	height: 75px;
	left: 0;
	z-index: 3;
}

#nav_centre {
	width: 1000px;
	margin: 0 auto;
}

#logo {
	float: left;
	margin-top: 10px;
	cursor: pointer;	
}

#logoLink {
	margin: 0px;
	padding: 0px;
}

#logoImg {
	width:225px;height:47px;
}

ul {
	list-style: none;
}

nav ul {
	float: right;
	color: #FFF;
	margin: 0;
	width: 488px;

}
nav a {
	display: inline;
	float: left;
	text-decoration: none;
	color: #FFF;
	padding: 15px 50px 0px 0px;
	font-family: "Arial" ;
	font-size: 14px;
	margin-top: 16px;
}

nav a:hover {
	color:#0099CC;
} 

nav {
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

/* NAV BAR SHADOW */
#header_shadow{
	pointer-events:none;
	background:url('../img/shadow.png') no-repeat top center;
	position:fixed;
	top: 75px;
	left: 0;
	right: 0;
	height: 100px;
	z-index: 99;
}

/* sets default style to body elements.
*/
body {
	background:url('../img/bg_w.png');
	font-family: 'FontAwesome',Verdana,Geneva,Arial,Helvetica, Open Sans, sans-serif !important;
	margin: 0px;
	min-width: 600px;
}

* {
	box-sizing: border-box;
}

/* center the header element and give it white text on a dark blue
* background.
*/
#header {
	height: 80px;
	text-align: center;
	background:url('../img/bg.png');
	color: white;
}

/* styles the header div's h1 content with some padding.
*/
#header h1 {
	margin: 0px;
	padding: 10px;
	padding-top: 20px;
}

/* styles the content div with padding, margins and a border.
*/
#content {
	padding: 10px;
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 50px;
	height: auto;
	border:1px solid black;
	background-color: white;
}

/* the wrapper element is the outermost element and contains all the
* other elements on the page. The wrapper element is centered in the
* browser.
*/
#wrapper {
	width: 1000px;
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	box-shadow: 0px 9px 10px 5px #888888;
}

#content h2, h4 {
	text-align: center;
}

#menu {
	padding-left: 17px;
}

/* styles all link elements in the menu to appear as buttons.
*/
#menu a {
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size:12pt;
	font-weight: bold;
	background-color: #333333;
	color: white;
	border-style: outset;
	border-width: 4px;
	text-decoration: none;
}

/* the button in the menu that the user is currently at becomes
* greyed out and underlined, with pointer events turned off.
*/
#menu .selected {
	pointer-events: none;
	background-color: rgb(100,100,100);
	text-decoration: underline;
}

/* styles the link elements of the menu when mouse hovered, 
* changing bg colour to blue and underlining.
*/
#menu a:hover {
	background-color: #888888;
	text-decoration: underline;
}

/* styles the footer div with a dashed border and light purple bg colour. It
* restricts float rules so it sits at the bottom of the page by itself.
*/
#footer {
	margin-top: 15px;
	border: 1px dashed black;
	background-color: #8E8E8E;
	text-align: center;
	clear: both;
	height: 100px;
	font-size:8pt;
}


.error-message {
	visibility: hidden;
    color: red;
}

/* search bar field styling */
form.searchinput {
	width: 878px;
}

form.searchinput input[type=text] {
	overflow: hidden;
	margin-left: 0px;
	height: 45px;
	padding: 10px;
  	font-size: 17px;
  	border: 1px solid grey;
	float: left;
	width: 53.453302961275625%;
	background: #f1f1f1;
}

/* search bar submit button styling */
form.searchinput button {
	float: left;
	width: 10.715261958997722%;
	height: 45px;
	padding: 10px;
	background: #333333;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;	
}

form.searchinput button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchinput::after {
  content: "";
  clear: both;
  display: table;
}

/* dropdown styling */
select {
	margin-left: 0px;
	height: 45px;
	padding: 10px;
	padding-right: 1px;
  	font-size: 17px;
  	border: 1px solid grey;
	float: left;
	background: #f1f1f1;
	cursor: pointer;	
}

select.ratingfilter {
	width: 11%;
	font-family:'FontAwesome', Verdana, Geneva, Arial, Helvetica, sans-serif;
}

select.suburbfilter {
	width: 24.829157175398635%;
	font-family:'FontAwesome', Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* results page styling */

#mapContainer {
	position: absolute;
	width: 875px;
	top: -0.3%;
	margin-top: 245px;
}

#mapResultContainer{
	position: absolute;
	width: 869px;
	top: -0.3%;
	margin-top: 230px;
}

.sampleResultMap {
	position: relative;
    overflow: hidden;
    left: 60px;
    bottom: 45px;
}


#initMap {
	width: 100%;
	height:600px;
}

#resultList {
	margin-top: 635px;
	height: auto;
	width: auto;
}


.resultBody {
	height: auto;
}

.resultRow {
	width: 100%;
	float: left;
}

.resultsTable {
	display: table;
	width: 100%;
}

#nohot {
	text-align: center;
}

div.results {
	float: left;
	border-style: solid;
	border-width: 4px;
	border-image: url('../img/bg_w.png') 30 round;
	width: 33%;
	height: 150px;
}

div.results h1 {
	background:url('../img/bg.png');
	font-size: 16px;
	height: 32px;
	color: white;
	margin: 0px;
	padding: 7px;
    white-space: nowrap; 
	text-align: center;
	text-overflow: ellipsis;
    overflow: hidden;
}

div.results p {
	margin: 10px;
}

/* individual item page styling */
#reviewBanner {
	margin-top: 615px;
	background:url('../img/bg.png');
    display: flex;
}

#reviewBanner h3 {
	color: white;
	padding-left: 15px;
}

#write {
	float: right;
}

#revComments {
	padding-left: 30px;
	padding-right: 30px;
}

/* styles the input fields with fixed width, padding, margin and a solid border
*/
input {
	padding: 3px;
	width: 200px;
	margin-left: 10px;
	border: 2px solid #ccc;
	border-radius: 2px;
}

/* adds/replaces styling of input fields of type 'submit' with padding, auto width,
* a hand cursor, bold font and a rounded-corner solid black border.
*/
input[type=submit] {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
}
