body {
	background-color: #9999FF;
	margin: 0px;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	min-width: 600px;
}

* {
	box-sizing: border-box;
}

/* the wrapper element is the outermost element and contains all the
* other elements on the page. The wrapper element is centered in the
* browser
*/
#wrapper {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	box-shadow: 10px 10px 5px #888888;
}

/* center the header element and give it white text on a dark blue
* background
*/
#header {
	height: 80px;
	text-align: center;
	background-color: #003399;
	color: white;
}

#header h1 {
	margin: 0px;
	padding: 10px;
}

#content {
	padding: 10px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border:1px solid black;
	background-color: white;
}

#content h2, h4 {
	text-align: center;
}

#menu a {
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	font-size:12pt;
	font-weight: bold;
	background-color: #003399;
	color: white;
	border-style: outset;
	border-width: 4px;
	text-decoration: none;
}

/* the button in the menu that the user is currently at becomes
* greyed out and underlined, with pointer events turned off.
*/
#menu .selected {
	pointer-events: none;
	background-color: rgb(100,100,100);
	text-decoration: underline;
}

#menu a:hover {
	background-color: blue;
	text-decoration: underline;
}

#sidebar {
	margin: 5px;
	border: 1px dashed black;
	background-color: #CCCCFF;
	float: right;
	width: 180px;
}

#footer {
	margin: 5px;
	border: 1px dashed black;
	background-color: #CCCCFF;
	text-align: center;
	clear: both;
	height: 50px;
	font-size:8pt;
}


.error-message {
	visibility: hidden;
    color: red;
}

/* search bar field styling */
form.searchinput input[type=text] {
	padding: 10px;
  	font-size: 17px;
  	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

/* search bar submit button styling */
form.searchinput button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #003399;
	color: white;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none; /* Prevent double borders */
	cursor: pointer;	
}

form.searchinput button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.searchinput::after {
  content: "";
  clear: both;
  display: table;
}


/* results page styling */

#resultContainer {
	background-color:#2E4272;
    display: flex;
}

#initMap {
	width:50%;
	height:600px;
	float: left;
}

#resultList {
	width: 50%;
	float: right;
}

div.results {
	border-style: solid;
	border-width: 4px;
	border-color: #003399;
	width: 100%;
	background: white;
}

div.results h1 {
	background-color: #003399;
	font-size: 15pt;
	color: white;
	margin: 0px;
	text-align: center;
}

div.results p {
	margin: 10px;
}

/* individual item page styling */
#reviewBanner {
	margin-top: 15px;
	background-color:#2E4272;
    display: flex;
}

#reviewBanner h3 {
	color: white;
	padding-left: 15px;
}

ul {
	list-style-type: none;
}

#review p {
	float: right;
}